In [1]:
# i live in kathmandu

In [7]:
a = 22 
print ("type check", type (a))

type check <class 'int'>

In [24]:
x = 2i + 3j
print ("type check" , type (x))

SyntaxError: invalid decimal literal (787851693.py, line 1)

In [18]:
#he is from kathmandu 
test = "he"
test2 = "is from"
test3 = "kathmandu"
print (test , test2 , test3)

he is from kathmandu

In [19]:
x = 555 
y = 666
print ( x + y)

1221

In [20]:
test = "he"
test2 = "is from"
test3 = "kathmandu"
print ("type check", type (test) , type (test2) , type (test3))

type check <class 'str'> <class 'str'> <class 'str'>

In [21]:
#string formatting 
test = "he"
test2 = "is from"
test3 = "kathmandu"
print (f'{test} {test2} {test3}')

he is from kathmandu

In [22]:
#in string formatting (f') should be use 
#example: print (f' {test} {test2} {test3}')

In [23]:
a = "her"
b = "name is"
c = "arica"
print (f' {a} {b} {c}')

 her name is arica

In [33]:
ab = "a^2" 
cd = "b^5"
print("ab*cd")

ab*cd

In [34]:
a = True  
b = True 
print ("and", True and True)

and True

In [35]:
a = "will rain" 
b = not "rain"
print ("a=b")

a=b

In [36]:
#the weather is nice today
a = "the"
b = "weather is"
c = "nice today"
print (f' {a} {b} {c}')

 the weather is nice today